@font-face {
    font-family: 'Chomsky';
    font-style: normal;
    src: local(''),
        url('/fonts/chomsky/Chomsky.woff') format('woff');
}

@font-face {
    font-family: 'Atkinson';
    font-style: normal;
    src: url('/fonts/atkinson/Atkinson-Hyperlegible-Regular-102.eot');
    src: local(''),
        url('/fonts/atkinson/Atkinson-Hyperlegible-Regular-102.ttf') format('truetype'),
        url('/fonts/atkinson/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2'),
        url('/fonts/atkinson/Atkinson-Hyperlegible-Regular-102.woff') format('woff');
}

@font-face {
    font-family: 'Inconsolata';
    src: url('/fonts/inconsolata/Inconsolata-Regular.eot');
    src: url('/fonts/inconsolata/Inconsolata-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/inconsolata/Inconsolata-Regular.woff2') format('woff2'),
        url('/fonts/inconsolata/Inconsolata-Regular.woff') format('woff'),
        url('/fonts/inconsolata/Inconsolata-Regular.ttf') format('truetype'),
        url('/fonts/inconsolata/Inconsolata-Regular.svg#Inconsolata-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.header-parallax {

  /* Set a specific height */
  height: 100px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

<!-- Core CSS -->

html {
    padding: 0px;
    background-color: #FFF;
    line-height:1.6em;
    font-family: "Atkinson", serif;
}

body {
    margin: 0 auto;
    padding: 0;
    background-color: #fefdfd;
    color:#404040;
}

header {
    margin: 0 auto; 
    height:150px;
    margin-bottom: 20px;
    padding: 2em;
}

header h1 {
    
    font-family: "Chomsky", serif;
    font-size: xx-large;
    font-weight: 400;

}

header a {
    
    color:inherit;

}

header a:visited {
    color: inherit;
}

header a:hover {
    color: #cc1100;
}

h1 h2 h3 {

    font-family: "Atkinson", serif;
}

a:visited {
    color: #3b88b8;

}

a {
    color: #1DA1F2;
    text-decoration: none;
}

blockquote {
    font-style:oblique;
    font-weight: bold;
}

pre {

    padding: 5px;
    border-radius: 5px; 
    overflow: auto;
}

figure { 
    width: auto;
    text-align: center;
}

figure img {
    margin:0 auto;
}

figure figcaption {
    text-align:center;
    color: #a3a3a3;

}

p {
    margin: 0 auto;
    max-width: 72ch;
    overflow-wrap:break-word;
    margin-top:1.2em;
    text-align: left;
    hyphens: auto;
    line-height:1.6;
}

table {
    margin: 1.6em auto;
    border-collapse: collapse;
}

table, th, td {
    padding: 5px;    
    border-bottom: 1px solid #f3f3f3;
}

tr:nth-child(even) {
    background-color: #f3f3f3;
}

tr {
    border: 1px solid #f3f3f3;
}

th {
    background-color: #1DA1F2;
    color: #fff;
    border: 1px solid #1da1f2;
}

hr{
    margin-top:1em;
	border-top: 1px dashed #8c8b8b;
	border-bottom: 1px dashed #fff;
}

ul li {
    padding-top: 0.3em;
}


<!-- Custom CSS Classes -->


.top-nav-list {

    display: inline-block;
    list-style-type: none;
    text-align:center;
}

.top-nav-list a {
    font-family: "Atkinson", serif;
}


.tag {
    border: none;
    padding: 0.2em 0.5em;
    border-radius: 4px;
    background-color: #f3f3f3;
}

.project-progress {
    border: none;
    padding: 0.2em 00.5em;
    border-radius: 4px;
    background-color: #f3f3f3;
}


#main {
    margin: 0 auto;
    max-width: 700px; 
    height:inherit;
    padding: 5px 20px;
    font-family: "Atkinson", serif;
}

.post-title {

    font-family: "Atkinson", serif;

}

.post-title a:visited {
    color: #3e3e3e;
}

.post-date {
    color: #a0a0a0;
    font-family: "Atkinson", serif;
}

.post-content {
    font-family: "Atkinson", serif;
}

.post-content p {
    font-size: 12pt;
    line-height: 1.9;
}

.post-content a {
    text-decoration: underline;
    color: #1DA1F2;
}

.post-footer {

    height: 50px;

}

.post-footer a {
    font-size: smaller;
    font-family: "Atkinson", serif;
    height: 150px;
}

.post-nav {
    border: none;
    padding: 0.2em 00.5em;
    border-radius: 4px;
    background-color: inherit;
    margin: auto 0;
}

.post-nav:hover {

    background-color: #f3f3f3;

}

.left {

    float:left;

}

.right {

    float: right;
}

.read-more {
    background-color: #fff;
    border: none;
    border-radius: 8px ;
    padding:3px 5px;
    margin-top: 0.5em;
    font-family: inherit; 
}

.homepage-title {

    font-family:"Atkinson", serif;

}

.panorama img{

    transform: rotate(-90deg);

}

pre,
pre code {
    background: none;
}

code {
    font-family: 'Inconsolata', monospace;
    padding: .2em;
    margin: 0;
    font-size: 95%;
    background-color: #f8f8f8;
    border-radius: 3px;
}

div.post-content div.footnotes div.footnote-definitions div.footnote-definition sup {
    vertical-align: top;
    position: relative;
    float: left;
}
