@font-face {
    font-family: 'Chomsky';
    font-style: normal;
    src: local(''),
        url('/fonts/chomsky/Chomsky.woff') format('woff');
}

@font-face {
    font-family: 'Atkinson';
    font-style: normal;
    src: url('/fonts/atkinson/Atkinson-Hyperlegible-Regular-102.eot');
    src: local(''),
        url('/fonts/atkinson/Atkinson-Hyperlegible-Regular-102.ttf') format('truetype'),
        url('/fonts/atkinson/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2'),
        url('/fonts/atkinson/Atkinson-Hyperlegible-Regular-102.woff') format('woff');
}

@font-face {
    font-family: 'Inconsolata';
    src: url('/fonts/inconsolata/Inconsolata-Regular.eot');
    src: url('/fonts/inconsolata/Inconsolata-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/inconsolata/Inconsolata-Regular.woff2') format('woff2'),
        url('/fonts/inconsolata/Inconsolata-Regular.woff') format('woff'),
        url('/fonts/inconsolata/Inconsolata-Regular.ttf') format('truetype'),
        url('/fonts/inconsolata/Inconsolata-Regular.svg#Inconsolata-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source';
    src: url('/fonts/source-serif/WOFF/OTF/SourceSerif4-Regular.otf.woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Colors  */
:root {
    /* Colors */
    --text-default: #000000;
    --bg-color:  #fefdfd;
    --link-default: #4169E1;
    --title-link-hover: #FF1c1c;
    --link-visited: #5D8AA8;
    --faded-text: #333;
    --bg-dark-grey: #f3f3f3;
    /* Font sizes */
    --default-font-size: 18px;
    --default-font-width: 80ch;
    --title-font: 'Chomsky';
}

.header-parallax {

  /* Set a specific height */
  height: 100px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

<!-- Core CSS -->

html {
    padding: 0px;
    background-color: var(--bg-color);
    line-height:1.6em;
    font-family: "Source", serif;
}

body {
    margin: 0 auto;
    padding: 0;
    background-color: var(--bg-color);
    color:var(--text-default);
    font-size: var(--default-font-size);
}

header {
    margin: 0 auto; 
    height:150px;
    margin-bottom: 20px;
    padding: 2em;
}

header h1 {
    
    font-family: var(--title-font), serif;
    font-size: xx-large;
    font-weight: 700;

}

header a {
    text-decoration: none;
    color:inherit;
}

header a:visited {
    color: inherit;
}

header h1 a:hover {
    color: var(--title-link-hover);
}

header a:hover {
    color: var(--link-default);
}

h1 h2 h3 {

    font-family: "Source", serif;
}

a:visited {
    color: var(--link-visited);

}

a {
    /*color: var(--link-default);*/
}

blockquote {
    font-style:oblique;
    font-weight: bold;
}

pre {

    padding: 5px;
    border-radius: 5px; 
    overflow: auto;
}

figure { 
    width: auto;
    text-align: center;
}

figure img {
    margin:0 auto;
}

figure figcaption {
    text-align:center;
    color: var(--faded-text);
    font-size: 15px;
    font-style: italic;
}

table {
    margin: 1.6em auto;
    border-collapse: collapse;
}

table, th, td {
    padding: 5px;    
    border-bottom: 1px solid var(--bg-dark-grey);
}

tr:nth-child(even) {
    background-color: var(--bg-dark-grey);
}

tr {
    border: 1px solid var(--bg-dark-grey);
}

th {
    background-color: #1DA1F2;
    color: #fff;
    border: 1px solid #1da1f2;
}

hr{
    margin-top:1em;
	border-top: 1px dashed var(--faded-text);
	border-bottom: 1px dashed #fff;
}

ul li {
    padding-top: 0.3em;
}


<!-- Custom CSS Classes -->


.top-nav-list {
    display: inline-block;
    list-style-type: none;
    text-align:center;
}

.top-nav-list a {
    font-family: "Source", serif;
    text-decoration: none;
    font-weight: 700;
}


.tag {
    border: none;
    padding: 0.2em 0.5em;
    border-radius: 4px;
    background-color: #f3f3f3;
}

.project-progress {
    border: none;
    padding: 0.2em 00.5em;
    border-radius: 4px;
    background-color: #f3f3f3;
}


#main {
    margin: 0 auto;
    max-width: 700px; 
    height:inherit;
    padding: 5px 20px;
    font-family: "Source", serif;
}

.post-title {
    max-width: 50ch;
    text-align: center;
    font-family: "Source", serif;
}

.post-title a {
    text-decoration: none;
    color: var(--text-default);
}

.post-title a:hover {
    color: var(--link-default);
}

.post-title a:visited {
    color: #3e3e3e;
}

.post-date {
    text-align: right;
    color: #a0a0a0;
    font-family: "Source", serif;
}

.post-content {
    font-family: "Source", serif;
    max-width: 700px;
    margin: 0 auto;
}

.post-content p {
    margin: 0 auto;
    max-width: 72ch;
    overflow-wrap:break-word;
    margin-top:1.2em;
    text-align: left;
    hyphens: auto;
    line-height:1.6;
    font-size: 18px;
}

.post-content a {
    text-decoration: underline;
}

.post-content ul li {
    padding-top: 0;
}

.post-content ul li p {
    margin-top: 0;
}

.post-footer {

    height: 50px;

}

.post-footer a {
    //font-size: smaller;
    font-family: "Source", serif;
    height: 150px;
}

.post-nav {
    border: none;
    padding: 0.2em 00.5em;
    border-radius: 4px;
    background-color: inherit;
    margin: auto 0;
}

.post-nav:hover {
    background-color: var(--bg-dark-grey);
}

.left {

    float:left;

}

.right {

    float: right;
}

.read-more {
    background-color: var(--bg-default);
    border: none;
    border-radius: 8px ;
    padding:3px 5px;
    margin-top: 0.5em;
    font-family: inherit; 
}

.read-more:hover {
    background-color: var(--bg-dark-grey);
}

.homepage-title {

    font-family:"Source", serif;
    text-align: center;
}

.panorama img{

    transform: rotate(-90deg);

}

.footnotes {

}

.footnote-definition {
    display: block;
    margin: 0;
}
.footnote-definition sup {
    margin: 0 auto;
    display: inline;
    vertical-align: text-top;
}

.footnote-body {
    display: inline;
}

.footnote-body p {
    line-height: unset;
    margin: unset;
    display: inline;
}

.summary {
    text-align: justify;
}

pre,
pre code {
    background: none;
}

code {
    font-family: 'Inconsolata', monospace;
    padding: .2em;
    margin: 0;
    font-size: 95%;
    background-color: var(--bg-dark-grey);
    border-radius: 3px;
}
